buttons{
    display: contents;
}

button{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 4rem;
    color: rgb(213, 90, 115);
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

board{
    background-color: rgb(119, 155, 203);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    
}
display{
    margin-top: 20px;
    font-size: 3rem;
    color: rgb(213, 90, 115);
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
    width: 300px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 20px;
}

.reset-btn {
    margin-bottom: 20px;
    padding: 10px ;
    font-size: 1.2rem;
    background-color: lightgray;
    color: rgb(213, 90, 115);
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    display: none;
}

@media (max-width: 600px) {
    
    button {
        width: 80px;
        height: 85px;
        font-size: 4rem; /* Adjust font size for smaller screens */
        text-align: center;
    }

    board {
        background-color: rgb(119, 155, 203);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 12px;
        padding: 20px;
        border-radius: 10px;
        width: 90%;
        height: 38%;
        max-width: 350px;
    }

    .reset-btn {
        padding: 10px ;
        font-size: 1.2rem;
        background-color: lightgray;
        color: rgb(213, 90, 115);
        border: none;
        border-radius: 50px;
        font-family: sans-serif;
        display: none;
        width: 50%;
        height: 20%;

    }
}

